@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.card-form {
	padding: rem(10) rem(10) rem(10) rem(10);
	&__title,
	&__content {
		width: 100%;
		border: 1px solid rgba($color-black, 0.2);
		padding: rem(10) rem(10) rem(10) rem(10);
		color: rgba($color-black, 0.4);
		border-radius: rem(4);
		display: block;
		margin-bottom: rem(5);
	}

	&__btn {
		width: rem(100);
		height: rem(30);
		border: 0px;
		padding: 0;
		margin: 0 5px 0 0px;
		background: rgba(#1ad698, 0.5);
		border-radius: rem(4);
		text-align: center;
		color: $color-black;
		&:hover {
			background: #1ad698;
		}
	}
}
